<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0, user-scalable=no">
  <% for (var key in meta) if (meta.hasOwnProperty(key)) { %>
  <meta name="<%= key %>" content="<%= meta[key] %>">
  <% } %>
  <title><%= title %></title>
  <link href="data:image/x-icon;base64,R0lGODlhEAAQAPECAFFUV////wAAAAAAACH5BAkyAAIAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAAC5wQAAAAAAAAAAAAAAAAAAAAAAAAAQBAAAAAAAAAAAAAAQBAEAAAAAAAAAAAAAAAQCAQAAAAAAAAAAAAAAAAIBAIAAAAAAAAAAAAAAAAEAgEAAAAAAAAAAAAAAAACgQAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAEBAQEBAAAAAAEBAAAAAAABAQEBAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAAh+QQJMgACACwAAAAAEAAQAAAC5wQAAAAAAAAAAAAAAAAAAAAAAAAAQBAAAAAAAAAAAAAAQBAEAAAAAAAAAAAAAAAQCAQAAAAAAAAAAAAAAAAIBAIAAAAAAAAAAAAAAAAEAgEAAAAAAAAAAAAAAAACgQAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAQEBAAAAAAAAAAAAAAAAAAEBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAA7" rel="icon" type="image/x-icon">
  <% for (var link of links) { %>
  <link rel="stylesheet" href="<%= link %>">
  <% } %>
  <style><%- css %></style>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7186965310346453",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  <!-- Container -->
  <main class="ui stackable two column grid">
    <!-- Left Panel -->
    <aside class="center aligned six wide column">
      <h1 class="ui header">
        <%- info.name %>
        <div class="sub header"><%= info.title %></div>
      </h1>
      <div class="ui horizontal list social">

      <!-- Render Labels -->
      <% for (var i in info.labels) { %>
        <div id="<%= info.labels[i].id %>" class="item">
          <% if (info.labels[i].name && info.labels[i].icon) { %>
          <a href="<%= info.labels[i].url %>" class="ui inverted basic <%= info.labels[i].color %> button">
            <i class="<%= info.labels[i].icon %> icon"></i><%= info.labels[i].name %></a>
          <% } %>
        </div>
      <% } %>
      <!-- / Render Labels -->

      </div>
      <span class="angle down"><i class="angle double down big icon pulsate-opacity"></i></span>
    </aside>
    <!-- / Left Panel -->

    <!-- Right Panel -->
    <section class="ten wide column">
      <div class="ui basic segment experience">
        <h2 class="ui teal inverted header">
          <i class="map icon"></i>
          <span class="content">&lt;Experience&nbsp;/&gt;</span>
        </h2>

        <!-- Render Exp -->
        <% for (var i in exp) { %>
        <div class="ui stackable grid">
          <div class="wide column title">
            <div class="ui medium yellow inverted header">
              <div class="main header">
                <i class="code icon"></i>
                <%= exp[i].occupation %>
              </div>
              <div class="sub header company">
                <i class="building outline icon"></i>
                <%= exp[i].company %>
              </div>
              <div class="sub header location">
                <i class="marker icon"></i>
                <%= exp[i].location %>
              </div>
              <div class="sub header period">
                <i class="calendar icon"></i>
                <%= exp[i].period %>
              </div>
            </div>
            <p class="description"><%= exp[i].description %></p>
          </div>
        </div>
        <% } %>
        <!-- / Render Exp -->

      </div>

      <div class="ui basic segment education">
        <h2 class="ui teal inverted header">
          <i class="student icon"></i>
          <span class="content">&lt;Education&nbsp;/&gt;</span>
        </h2>

        <!-- Render Edu -->
        <% for (var i in edu) { %>
        <div class="ui stackable grid">
          <div class="wide column">
            <div class="ui medium yellow inverted header">
              <div class="main header">
                <i class="certificate icon"></i>
                <%= edu[i].degree %>
              </div>
              <div class="sub header school">
                <i class="university icon"></i>
                <%= edu[i].school %>
              </div>
              <div class="sub header location">
                <i class="marker icon"></i>
                <%= edu[i].location %>
              </div>
              <div class="sub header period">
                <i class="calendar icon"></i>
                <%= edu[i].period %>
              </div>
            </div>
            <div class="ui list description">
              <% for (var j in edu[i].descriptions) { %>
              <div class="item">
                <i class="checkered flag icon"></i>
                <div class="content"><%= edu[i].descriptions[j] %></div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
        <!-- / Render Edu -->

      </div>

      <div class="ui basic segment skills">
        <h2 class="ui teal inverted header">
          <i class="lab icon"></i>
          <span class="content">&lt;Skills&nbsp;/&gt;</span>
        </h2>
        <div class="ui stackable grid">
          <div class="eight wide column">

          <!-- Render Skills -->
          <% var half = Math.round(skills.length / 2); for (var i in skills) { %>
          <% if (i == half) { %>
          </div>
          <div class="eight wide column">
          <% } %>
            <div class="ui active indicating small progress" data-percent="<%= skills[i].percent %>">
              <div class="label"><%- skills[i].name %></div>
              <div class="bar" style="width: <%= skills[i].percent %>%">
                <div class="progress"><%= skills[i].percent %>%</div>
              </div>
            </div>
          <% } %>
          <!-- / Render Skills -->

          </div>
        </div>
      </div>

      <div class="ui basic segment EOF">
        <h2 class="ui red inverted header">-- EOF --</h2>
      </div>
    </section>
    <!-- / Right Panel -->

    <!-- Footer -->
    <footer class="six wide column">
      <img src="data:image/gif;base64,R0lGODlhEAALANUAAPXs7e7u7vKEieqHiPF6eulpbOcTG/r6+vA8Qumsq/39/ezj5PWQlPX19fLy8tkAANtESeRFR9gkKNw3OupeX/ijp+hdY+5zdqYAALgAAOvr6+59gckAANUZGe1uc95NU+ZOVOsoLMvLy8TExO1lZuVhZu4wOdtVWeJsbepYWPFLU+y9vukfJ95qa9TU1PXQ0/eeou7Ozb+/v/P19fSLkOpSXdsrL+jd2/SWmPWZnuJVW/j3+OjAwd8yN+E9QPT09CH5BAAAAAAALAAAAAAQAAsAAAaVQBUCEfoZjQ5H4MHkmCoVnGIKABwOu8LFw0FUGJvpYbCZNRoRUMFZoREUrxiJwls5fJFSxgQTXA5aHgUlEA49PhYZITkCHmMpFjURLQE2EzoZLDgbJAcAKCAgJwsBEj0fGQYMFxQ7DQAJCaQaHTYfGA80HikNPw43s7QSELgCGwW9SgHLGhMQxEwPHC4i1SPXMhjaGEEAOw=="/>
      <i class="copyright icon"></i>2015 - 2020 DN</footer>
    <!-- / Footer -->
  </main>
  <!-- / Container -->
  <script>
  // Prevent my email address being collected
  var username = '<%= info.email.user %>', hostname = '<%= info.email.host %>', linktext = username + '@' + hostname;
  document.getElementById('email').innerHTML = '<a href="mailto:' + linktext + '" class="ui inverted basic yellow button"><i class="mail icon"></i>' + linktext + '</a>';
  </script>
</body>

</html>
